@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Raleway');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

a {
    color:$links-color;
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fjalla One', sans-serif;
}

h1.title {
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

p.description {
    font-family: 'Raleway';
    font-size: 14px;
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    &.post-title {
        text-transform: uppercase;
    }
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}